<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Magic Deck</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
</head>
<body id="page-top">
  <nav class= "navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"></nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Rundeck</a>
        </li>
        <li class="breadcrumb-item active">Magic Deck</li>
      </ol>
      <div class="row">
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-primary o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Admin</h4>
              <div class="mr-5"><h4>{{ad_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{ad_fails}}</h4> Failures</div>
            </div>
            {% if ad_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-warning o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Jarvis</h4>
              <div class="mr-5"><h4>{{j_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{j_fails}}</h4> Failures</div>
            </div>
            {% if j_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-success o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Kraken</h4>
              <div class="mr-5"><h4>{{k_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{k_fails}}</h4> Failures</div>
            </div>
            {% if k_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-secondary o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Perry</h4>
              <div class="mr-5"><h4>{{p_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{p_fails}}</h4> Failures</div>
            </div>
            {% if p_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-danger o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Cache Jobs</h4>
              <div class="mr-5"><h4>{{cache_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{cache_fails}}</h4> Failures</div>
            </div>
            {% if cache_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- row 2 cards-->
      <div class="row">
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-primary o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">App Integrations</h4>
              <div class="mr-5"><h4>{{app_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{app_fails}}</h4> Failures</div>
            </div>
            {% if app_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-warning o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Member Profile</h4>
              <div class="mr-5"><h4>{{mp_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{mp_fails}}</h4> Failures</div>
            </div>
            {% if mp_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-success o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Deployment</h4>
              <div class="mr-5"><h4>{{d_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{d_fails}}</h4> Failures</div>
            </div>
            {% if d_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-secondary o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Business Systems</h4>
              <div class="mr-5"><h4>{{bus_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{bus_fails}}</h4> Failures</div>
            </div>
            {% if bus_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
        </div>
        <div class="col-xl-2 col-sm-8 mb-3">
          <div class="card text-white bg-danger o-hidden h-100"> 
            <div class="card-body">
              <h4 class="card-header text-center text-dark text-bold">Jarvis Blink</h4>
              <div class="mr-5"><h4>{{jb_runs}}</h4> executions today</div>
              <div class="mr-5"><h4>{{jb_fails}}</h4> Failures</div>
            </div>
            {% if jb_fails %}
            <a class="card-footer text-white clearfix">
              <div class="mr-5"><span>Failed Jobs listed below</span></div>
            </a>
            {% endif %}
          </div>
      </div>    
    </div>
  </div>
      <!-- row of charts after-->
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>Recently Failed Jobs</div>
        <div class="card-body">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Job Name</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody id="table">
                <tr>
                  <td>{{ job[0][0] }}</td>
                  <td>{{ job[0][1] }}</td>
                  <td>{{ job[0][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[1][0] }}</td>
                  <td>{{ job[1][1] }}</td>
                  <td>{{ job[1][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[2][0] }}</td>
                  <td>{{ job[2][1] }}</td>
                  <td>{{ job[2][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[3][0] }}</td>
                  <td>{{ job[3][1] }}</td>
                  <td>{{ job[3][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[4][0] }}</td>
                  <td>{{ job[4][1] }}</td>
                  <td>{{ job[4][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[5][0] }}</td>
                  <td>{{ job[5][1] }}</td>
                  <td>{{ job[5][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[6][0] }}</td>
                  <td>{{ job[6][1] }}</td>
                  <td>{{ job[6][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[7][0] }}</td>
                  <td>{{ job[7][1] }}</td>
                  <td>{{ job[7][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[8][0] }}</td>
                  <td>{{ job[8][1] }}</td>
                  <td>{{ job[8][2] }}</td>
                </tr>
                <tr>
                  <td>{{ job[9][0] }}</td>
                  <td>{{ job[9][1] }}</td>
                  <td>{{ job[9][2] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        <div class="card-footer small text-muted">Updated just now</div>
      </div>
    </div>

    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © EquinoxFitness 2019</small>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Page level plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>

    <script src="{{ url_for('static', filename='js/customer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
  </div>
</body>
</html>
