<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="60">  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Gianna's Dash</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand text-white"> Equinox MagicDeck</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/dashboard/prod">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Production</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/dashboard/qa">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">QA</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/dashboard/stag">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Staging</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/dashboard/test">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Testing</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Rundeck</a>
        </li>
        <li class="breadcrumb-item active">Magic Deck/ Testing</li>
      </ol>
      <div class="row">
      {% for m in failures %}
      {% if m[0][1] > 0 %}
        {% for g in titles %}
         {% if g[0] == m[0][0] %}
         <div class="col-xl-3 col-sm-4 mb-3">
          <div class="card text-white bg-danger o-hidden h-100"> 
            <div class="card-body">
              <h1 class="card-header text-center text-dark text-bold">{{ g[0]  }}</h1>
              <div class="mr-5 text-dark"><h1 class="font-weight-bold">{{  g[1]  }}</h1><h3> Executions today</h3></div>
              
              <div class="mr-5 text-dark"><h1 class="font-weight-bold">{{  m[0][1]  }}</h1><h3> Failures today</h3></div>
            </div>
                <a href={{ m[1] }} target="_blank">
                <div class="card-footer text-center text-dark">more information</div>
                </a>
          </div>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>  
        {% endfor %}
    </div>
  </div>
      <!-- row of charts after-->
      <!-- Example DataTables Card-->
    <div class="row">
      <div class="col-lg-10">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>   Recently Failed Jobs</div>
        <div class="card-body">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <col width="100">
              <col width="80">
              <col width="100">
              <col width="50">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Job Name</th>
                  <th>Status</th>
                  <th>Execution Type</th>
                </tr>
              </thead>
              <tbody id="table">
                {% for x in job %}
                <tr>
                  <td>{{ x[0] }}</td>
                  <td>{{ x[1] }}</td>
                  <td>{{ x[2] }}</td>
                  <td>{{ x[3] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-2 mb-3">
      <div class="card bg-info o-hidden h-100"> 
        <div class="card-body">
          <h1 class="card-header text-center text-dark text-bold">This Week</h1>
          <div class="mr-5 text-dark"><h4 class="font-weight-bold"> * {{  week[0][0]  }} had {{ week[0][1] }} failures</h4></div>
          <br>
          <div class="mr-5 text-dark"><h4 class="font-weight-bold"> * {{  length  }} / 7  days had failures</h4></div>
          <div class="mr-5 text-dark"><h4 class="font-weight-bold"> </h4></div>
        </div>
      </div>
    </div>
  </div>
      <!-- currently running jobs-->
    <div class="row">
      <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table" style='color:rgb(251, 255, 0)'></i>   Currently Running Jobs</div>
        <div class="card-body">
            <table class="table table-bordered" width="90%" cellspacing="0">
              <col width="100">
              <col width="80">
              <col width="150">
              <thead>
                <tr>
                  <th>Time Started</th>
                  <th>Project</th>
                  <th>Job Name</th>
                </tr>
              </thead>
              <tbody id="table">
                {% for y in running %}
                <tr>
                  <td>{{ y[0] }}</td>
                  <td>{{ y[1] }}</td>
                  <td>{{ y[2] }}</td>
                </tr>  
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
      </div>
      <!-- number fails per job in the past week-->
    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table" style='color:red'></i>   Most Frequently Failed Jobs This Week</div>
        <div class="card-body">
            <table class="table table-bordered" width="90%" cellspacing="0">
              <col width="100">
              <col width="80">
              <col width="150">
              <col width="150">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Job Name</th>
                  <th>Status</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody id="table">
                {% for k in counts %}
                <tr>
                  <td>{{ k[0] }}</td>
                  <td>{{ k[1] }}</td>
                  <td>{{ k[2] }}</td>
                  <td>{{ k[3] }}</td>
                </tr>  
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © EquinoxFitness 2019</small>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Page level plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>

    <script src="{{ url_for('static', filename='js/customer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>
    <script src="{{ url_for('static', filename='js/message.js') }}"></script>
  </div>
</body>
</html>
